@model IEnumerable<gpti.Models.Agenda>

@{
    ViewData["Title"] = "Index";
    double ct = 0;
}

<style>
    .container div .texto {
        font-size: 0.9em;
    }
</style>

<h3>Agenda</h3>

<p>
    <a asp-action="Create">Incluir</a>
</p>
<div class="row">
    <div class="col-xs-1 texto">
        <strong>
            @Html.DisplayNameFor(model => model.Data)
        </strong>
    </div>
    <div class="col-xs-1 texto">
        <strong>
            @Html.DisplayNameFor(model => model.Hora)
        </strong>
    </div>
    <div class="col-xs-2 texto">
        <strong>
            @Html.DisplayNameFor(model => model.ContInt)
        </strong>
    </div>
    <div class="col-xs-2 texto">
        <strong>
            @Html.DisplayNameFor(model => model.ContExt)
        </strong>
    </div>
    <div class="col-xs-2 texto">
        <strong>
            @Html.DisplayNameFor(model => model.Local)
        </strong>
    </div>
    <div class="col-xs-1 texto">
        <strong>
            @Html.DisplayNameFor(model => model.TelCont)
        </strong>
    </div>
    <div class="col-xs-2 texto">
        <strong>
            @Html.DisplayNameFor(model => model.Descricao)
        </strong>
    </div>
    <div class="col-xs-1">
        &nbsp;
    </div>
</div>

@foreach (var item in Model)
{
    ct++;
    string estilo_linha = (ct % 2 != 0 ? "background-color:#F5F5F5;" : "");
    <div class="row" style=@estilo_linha>
        <div class="col-xs-1 texto">
            @Html.DisplayFor(modelItem => item.Data)
        </div>
        <div class="col-xs-1 texto">
            @Html.DisplayFor(modelItem => item.Hora)
        </div>
        <div class="col-xs-2 texto">
            @Html.DisplayFor(modelItem => item.ContInt)
        </div>
        <div class="col-xs-2 texto">
            @Html.DisplayFor(modelItem => item.ContExt)
        </div>
        <div class="col-xs-2 texto">
            @Html.DisplayFor(modelItem => item.Local)
        </div>
        <div class="col-xs-1 texto">
            @Html.DisplayFor(modelItem => item.TelCont)
        </div>
        <div class="col-xs-2 texto">
            @Html.DisplayFor(modelItem => item.Descricao)
        </div>
        <div class="col-xs-1">
            <a asp-action="Edit" asp-route-id="@item.Id"><span style="font-size: 1.2em; color: darkgreen;"><i class="fas fa-edit"></i></span></a>
            <a asp-action="Details" asp-route-id="@item.Id"><span style="font-size: 1.2em; color: Dodgerblue;"><i class="fas fa-search"></i></span></a>
            <a asp-action="Delete" asp-route-id="@item.Id"><span style="font-size: 1.2em; color: red;"><i class="fas fa-trash-alt"></i></span></a>
        </div>
    </div>
}
